################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/etemkocaaslan.github.io/FileContentIndex/064e3a71-e9f3-43cc-a041-ad3dec32efc8.vsidx
/.vs/etemkocaaslan.github.io/FileContentIndex/0a85c2c8-d5b2-46f6-a085-19e94aa5e855.vsidx
/.vs/etemkocaaslan.github.io/FileContentIndex/5a5f78ce-692a-4a69-9f48-9d4e31962f44.vsidx
/.vs/etemkocaaslan.github.io/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
